.title {
  text-align: center;
  padding-bottom: 20px;
}

.generate-example-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px 8px;
    margin-top: -20px;
}
