name: Deploy Telegram Bot Function [PT]

on:
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

env:
  DEPLOY_DIR: pt_deploy
  FUNCTION_NAME: nodejs-http-function

jobs:
  deploy-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - id: auth
        name: Auth gcloud
        uses: google-github-actions/auth@v3
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }} 

      - name: Set up gcloud CLI
        uses: google-github-actions/setup-gcloud@v3

      - name: Link server dependencies
        run: yarn

      - name: Build server typescript
        run: yarn workspace server build

      - name: Link deploy dependencies
        working-directory: ${{ env.DEPLOY_DIR }}
        run: yarn

      - name: Build deploy typescript
        working-directory: ${{ env.DEPLOY_DIR }}
        run: yarn build

      - name: Deploy telegram bot function
        working-directory: ${{ env.DEPLOY_DIR }}
        env:
          FUNCTION_NAME: nodejs-http-function 
        run: >
          gcloud functions deploy "${FUNCTION_NAME}"
          --gen2
          --runtime=nodejs20
          --region=europe-west1
          --source=.
          --entry-point=telegram
          --trigger-http
          --set-build-env-vars GOOGLE_VENDOR_NPM_DEPENDENCIES=true

      - name: Deploy telegram bot api function
        working-directory: ${{ env.DEPLOY_DIR }}
        env:
          FUNCTION_NAME: api 
        run: >
          gcloud functions deploy "${FUNCTION_NAME}"
          --gen2
          --runtime=nodejs20
          --region=europe-west1
          --source=.
          --entry-point=api
          --trigger-http
          --set-build-env-vars GOOGLE_VENDOR_NPM_DEPENDENCIES=true
